<!DOCTYPE html>
<html lang="en">
<head>
	<title>Vega's Restaurant - Nosotros</title>
	<link rel="stylesheet" href="../assets/css/styles.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" integrity="sha512-BnbUDfEUfV0Slx6TunuB042k9tuKe3xrD6q4mg5Ed72LTgzDIcLPxg6yI2gcMFRyomt+yJJxE+zJwNmxki6/RA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
	<nav>
		<ul class="menu">
			<li>
				<a href="../index.html">
					Inicio
				</a>
			</li>
			<li>
				<a href="#">
					Nosotros
				</a>
			</li>
			<li>
				<a href="menu.html">
					Menu
				</a>
			</li>
			<li>
				<a href="ubicacion.html">
					Ubicación
				</a>
			</li>
			<li>
				<a href="contactus.html">
					Contactanos
				</a>
			</li>
			<li>
				<a href="login.html">
					Inicio de Sesión
				</a>
			</li>
			<li class="dropdown">
				<a href="javascript:void(0)" class="dropbtn">Admin</a>
				<div class="dropdown-content">
				  <a href="admin/sucursales/nuevo.html">Sucursales</a>
				  <a href="admin/reservaciones/nuevo.html">Reservaciones</a>
				  <a href="admin/platillos/nuevo.html">Platillos</a>
				  <a href="admin/tipoPlatillo/nuevo.html">Tipo Platillo</a>
				</div>
			</li>
		</ul>
	</nav>

    <div class="container separator-margin">
		<div class="separator-margin text-center">
			<h1>
				Sobre Nosotros
			</h1>
		</div>

        <div class="flex flex-around">
            <img src="../assets/img/aboutus/restaurant.png" alt="Mision" style="width: 30%;">
            <div class="content-colum">
                <h2>Misión</h2>
                <p>
                    Build products that level the financial playing field.
                </p>
            </div>
        </div>

		<div class="flex flex-around separator-margin">
            <div class="content-colum">
                <h2>Visión</h2>
                <p>
                    Build products that level the financial playing field.
                </p>
            </div>
			<img src="../assets/img/aboutus/vision.PNG" alt="Vision" style="width: 30%;">
        </div>

		<div class="separator-margin text-center">
			<h2>
				Nuestra Historia
			</h2>
			<img src="../assets/img/aboutus/ourHistory.png" alt="Our History">
			<p>
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
				Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
				when an unknown printer took a galley of type and scrambled it to make a type 
				specimen book. It has survived not only five centuries, but also the leap into 
				electronic typesetting, remaining essentially unchanged. It was popularised in 
				the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
				and more recently with desktop publishing software like Aldus PageMaker including 
				versions of Lorem Ipsum.
			</p>
		</div>
    </div>

	<footer id="contactus" class="parallax content-center">
		<div class="contactanos">
			<div class="footer-section">
				<p style="font-weight: bold">ESTAMOS ABIERTOS DE</p>
				<p>Lunes: 10:00 am a 11:00 pm</p>
				<p>Martes: cerrado </p>
				<p>Miércoles a domingo: 10:00 am a 11:00 pm</p>
			</div>
			<div class="text-center footer-section">
				<p class="brand-footer">
					Vega <br>
					Restorant
				</p>
				<p>
					todos nuestros platos de comida saludable están previamente estudiados por un nutricionista profesional
				</p>
				<div class="social-media">
					<i class="fab fa-facebook"></i>
					<i class="fab fa-instagram"></i>
					<i class="fab fa-twitter"></i>
				</div>
			</div>
			<div class="text-center footer-section">
				<p>Tel: 2216-0854</p>
				<p>Email: vega_restorant@gmail.com</p>
			</div>
		</div>
	</footer>
</body>
</html>