<!DOCTYPE html>
<html lang="en">
<head>
	<title>Vega's Restaurant - Contactanos</title>
	<link rel="stylesheet" href="../assets/css/styles.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" integrity="sha512-BnbUDfEUfV0Slx6TunuB042k9tuKe3xrD6q4mg5Ed72LTgzDIcLPxg6yI2gcMFRyomt+yJJxE+zJwNmxki6/RA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
	<nav>
		<ul class="menu">
			<li>
				<a href="../index.html">
					Inicio
				</a>
			</li>
			<li>
				<a href="aboutus.html">
					Nosotros
				</a>
			</li>
			<li>
				<a href="menu.html">
					Menu
				</a>
			</li>
			<li>
				<a href="ubicacion.html">
					Ubicación
				</a>
			</li>
			<li>
				<a href="#">
					Contactanos
				</a>
			</li>
			<li>
				<a href="login.html">
					Inicio de Sesión
				</a>
			</li>
			<!--<li class="dropdown">
				<a href="javascript:void(0)" class="dropbtn">Admin</a>
				<div class="dropdown-content">
				  <a href="admin/sucursales/nuevo.html">Sucursales</a>
				  <a href="admin/reservaciones/nuevo.html">Reservaciones</a>
				  <a href="admin/platillos/nuevo.html">Platillos</a>
				  <a href="admin/tipoPlatillo/nuevo.html">Tipo Platillo</a>
				</div>
			</li>-->
		</ul>
	</nav>

    <div class="container separator-margin">
        
        <div class="separator-margin text-center">
			<h1>
                Contactanos!
			</h1>
            <h2>
                Cuentanos tu experiencia o dejanos tus sugerencias 
            </h2>
		</div>

        <div class="flex separator-margin">
            <div class="w-half">
                <img src="../assets/img/contactus/contactus.jpg" alt="Contactanos" style="width: 85%;">
            </div>
            <div class="content-colum w-half">
                <form action="" method="post">
                    <input type="text" name="fullname" id="" class="form-control" placeholder="* Nombre" required>

                	<input type="email" name="email" id="" class="form-control mt-20" placeholder="* email" required>
                    
					<input type="tel" name="phone" id="" class="form-control mt-20" placeholder="Teléfono">
                    
                    <textarea name="message" id="" cols="30" rows="10" class="form-control mt-20" placeholder="* Mensaje" required></textarea>

                    <div class="flex mt-20">
                        <input type="reset" value="Limpiar" class="btn btn-danger">
                        <input type="submit" value="Enviar" class="btn btn-primary margin-left-10">
                    </div>
                </form>
            </div>
        </div>
    </div>

	<footer id="contactus" class="parallax content-center">
		<div class="contactanos">
			<div class="footer-section">
				<p style="font-weight: bold">ESTAMOS ABIERTOS DE</p>
				<p>Lunes: 10:00 am a 11:00 pm</p>
				<p>Martes: cerrado </p>
				<p>Miércoles a domingo: 10:00 am a 11:00 pm</p>
			</div>
			<div class="text-center footer-section">
				<p class="brand-footer">
					Vega <br>
					Restorant
				</p>
				<p>
					todos nuestros platos de comida saludable están previamente estudiados por un nutricionista profesional
				</p>
				<div class="social-media">
					<i class="fab fa-facebook"></i>
					<i class="fab fa-instagram"></i>
					<i class="fab fa-twitter"></i>
				</div>
			</div>
			<div class="text-center footer-section">
				<p>Tel: 2216-0854</p>
				<p>Email: vega_restorant@gmail.com</p>
			</div>
		</div>
	</footer>
</body>
</html>