<!DOCTYPE html>
<html lang="en">
<head>
	<title>Vega's Restaurant - Menú</title>
	<link rel="stylesheet" href="../assets/css/styles.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" integrity="sha512-BnbUDfEUfV0Slx6TunuB042k9tuKe3xrD6q4mg5Ed72LTgzDIcLPxg6yI2gcMFRyomt+yJJxE+zJwNmxki6/RA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
	<nav>
		<ul class="menu">
			<li>
				<a href="../index.html">
					Inicio
				</a>
			</li>
			<li>
				<a href="aboutus.html">
					Nosotros
				</a>
			</li>
			<li>
				<a href="#">
					Menu
				</a>
			</li>
			<li>
				<a href="ubicacion.html">
					Ubicación
				</a>
			</li>
			<li>
				<a href="contactus.html">
					Contactanos
				</a>
			</li>
			<li>
				<a href="login.html">
					Inicio de Sesión
				</a>
			</li>
			<li class="dropdown">
				<a href="javascript:void(0)" class="dropbtn">Admin</a>
				<div class="dropdown-content">
				  <a href="admin/sucursales/nuevo.html">Sucursales</a>
				  <a href="admin/reservaciones/nuevo.html">Reservaciones</a>
				  <a href="admin/platillos/nuevo.html">Platillos</a>
				  <a href="admin/tipoPlatillo/nuevo.html">Tipo Platillo</a>
				</div>
			</li>
		</ul>
	</nav>

    <div class="container separator-margin">
        
        <div class="separator-margin text-center">
			<h1>
                Nuestro Menú
			</h1>
		</div>

        <section class="separator-margin">
            <div class="carta">
                <div class="food-card">
                    <img src="../assets/img/carta/food1.jpg">
                </div>
                <div class="food-card">
                    <img src="../assets/img/carta/food2.jpg">
                </div>
                <div class="food-card">
                    <img src="../assets/img/carta/food3.jpg">
                </div>
                <div class="food-card">
                    <img src="../assets/img/carta/food4.jpg">
                </div>
                <div class="food-card">
                    <img src="../assets/img/carta/food5.jpg">
                </div>
                <div class="food-card">
                    <img src="../assets/img/carta/food6.jpg">
                </div>
            </div>
        </section>

		<div class="flex flex-around separator-margin">
            <img src="../assets/img/food.jpg" alt="promision" style="width: 50%;">
            <div class="content-colum">
                <h2>La Recomendada</h2>
				<h3>Pasta a la Amatriciana</h3>
                <ul>
					<li>Papada de cerdo</li>
					<li>Tomates maduros o en conserva</li>
					<li>Queso pecorino</li>
					<li>Espaguetis</li>
					<li>Guindilla un trozo</li>
					<li>Vivo blanco un chorreón</li>
					<li>Sal al gusto</li>
				</ul>
            </div>
        </div>

		<div class="flex flex-around separator-margin">
            <div class="content-colum">
                <h2>Cada lunes disfruta el doble!</h2>
            </div>
			<img src="../assets/img/carta/Lunes.png" alt="Promision Lunes" style="width: 40%;">
        </div>
    </div>

	<footer id="contactus" class="parallax content-center">
		<div class="contactanos">
			<div class="footer-section">
				<p style="font-weight: bold">ESTAMOS ABIERTOS DE</p>
				<p>Lunes: 10:00 am a 11:00 pm</p>
				<p>Martes: cerrado </p>
				<p>Miércoles a domingo: 10:00 am a 11:00 pm</p>
			</div>
			<div class="text-center footer-section">
				<p class="brand-footer">
					Vega <br>
					Restorant
				</p>
				<p>
					todos nuestros platos de comida saludable están previamente estudiados por un nutricionista profesional
				</p>
				<div class="social-media">
					<i class="fab fa-facebook"></i>
					<i class="fab fa-instagram"></i>
					<i class="fab fa-twitter"></i>
				</div>
			</div>
			<div class="text-center footer-section">
				<p>Tel: 2216-0854</p>
				<p>Email: vega_restorant@gmail.com</p>
			</div>
		</div>
	</footer>
</body>
</html>