<!DOCTYPE html>
<html lang="en">
<head>
	<title>Vega's Restaurant - Ubicación</title>
	<link rel="stylesheet" href="../assets/css/styles.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" integrity="sha512-BnbUDfEUfV0Slx6TunuB042k9tuKe3xrD6q4mg5Ed72LTgzDIcLPxg6yI2gcMFRyomt+yJJxE+zJwNmxki6/RA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
	<nav>
		<ul class="menu">
			<li>
				<a href="../index.html">
					Inicio
				</a>
			</li>
			<li>
				<a href="aboutus.html">
					Nosotros
				</a>
			</li>
			<li>
				<a href="menu.html">
					Menu
				</a>
			</li>
			<li>
				<a href="#">
					Ubicación
				</a>
			</li>
			<li>
				<a href="contactus.html">
					Contactanos
				</a>
			</li>
			<li>
				<a href="login.html">
					Inicio de Sesión
				</a>
			</li>
		</ul>
	</nav>

    <div class="container separator-margin">
        
        <div class="separator-margin text-center">
			<h1>
                Nuestra Ubicación
			</h1>
		</div>

        <section id="ubicacion" class="content-center separator-margin">
            <div class="">
                <iframe
                    class="gmap_iframe"
                    frameborder="0"
                    scrolling="no"
                    marginheight="0"
                    marginwidth="0"
                    src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=universidad tecnologica&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
                >
                </iframe>
            </div>
        </section>
    </div>

	<footer id="contactus" class="parallax content-center">
		<div class="contactanos">
			<div class="footer-section">
				<p style="font-weight: bold">ESTAMOS ABIERTOS DE</p>
				<p>Lunes: 10:00 am a 11:00 pm</p>
				<p>Martes: cerrado </p>
				<p>Miércoles a domingo: 10:00 am a 11:00 pm</p>
			</div>
			<div class="text-center footer-section">
				<p class="brand-footer">
					Vega <br>
					Restorant
				</p>
				<p>
					todos nuestros platos de comida saludable están previamente estudiados por un nutricionista profesional
				</p>
				<div class="social-media">
					<i class="fab fa-facebook"></i>
					<i class="fab fa-instagram"></i>
					<i class="fab fa-twitter"></i>
				</div>
			</div>
			<div class="text-center footer-section">
				<p>Tel: 2216-0854</p>
				<p>Email: vega_restorant@gmail.com</p>
			</div>
		</div>
	</footer>
</body>
</html>