body{
    margin: 0 auto;
}

.text-white {
	color: white;
}

.flex-column {
	flex-direction: column;
}

.text-medium {
	color: #fff;
	font-size: 20px;
}

.text-bold {
	font-weight: bold;
}

.title {
	color: #fff;
	font-size: 45px;
}

.img-header {
    width: 100%;
}

.menu-home {
	position: fixed;
	width: 100%;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.13);
	z-index: 10;
}

.menu-home > ul {
	display: inline-flex;
}

.menu-options li {
	list-style: none;
	margin-right: 30px;
}

.menu-options li a {
	font-size: 20px;
	text-decoration: none;
	color: #fff;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
}

.brand {
	position: absolute;
	color: rgba(255, 255, 255, 0.32);
	font-size: 130px;
	font-family: 'Brush Script MT', cursive;
}

/* DropDown Menu */
li a, .dropbtn {
	color: #282923;
	display: inline-block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    color: #fff;
	background-color:rgba(0,0,0,0.5);
}

li.dropdown {
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	color: #282923 !important;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
	display: block;
}

p {
    font-size: 20px;
}

.container {
    margin-left: 300px;
    margin-right: 300px;
}

.separator-margin {
    margin-top: 100px;
}

.text-center {
    text-align: center;
}

.margin-left-10 {
    margin-left: 10px;
}

.error {
    color: #f45757;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.w-full {
    width: 100%;
}

.w-half {
    width: 50%;
}

nav {
    padding: 20px;
    text-align: center;
    background-color: aliceblue;
}

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav > ul > li {
    margin-right: 30px;
}

li > a {
    font-size: 20px;
    text-decoration: none;
}

.flex {
    display: flex;
}

.flex-around {
    justify-content: space-around;
}

.flex-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.content-colum {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* Menú */

.carta {
	display: grid;
	grid-template-columns: [x0] 1fr [x1] 1fr [x2] 1fr [x3];
  	grid-template-rows: [y0] 1fr [y1] 1fr [y2] 1fr [y3];
  	height: 800px;
}

.food-card > img {
	width: 400px;
	height: 400px;
	/* object-fit: cover; */
}

/* Footer */

.content-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

#contactus {
	padding: 25px;
    margin-top: 200px;
}

.contactanos {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	background-color: rgba(13, 13, 13, 0.38);
	color: #fff;
	border-radius: 12px;
}

.social-media {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px
}

.social-media > i {
	margin-right: 20px;
}

.parallax {
  /* The image used */
  background-image: url("../img/pared.jpg");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.brand-footer {
	font-weight: bold;
	font-size: 20px;
}

.footer-section {
	width: 33.33%;
}

/* Ubicación */

.gmap_iframe {
    width: 1000px !important;
    height: 600px !important;
}

/* Contact Us */

.btn {
    padding: 10px 30px;
    border-radius: .25rem;
    border-style: none;
    cursor: pointer;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-warning {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}