<!DOCTYPE html>
<html lang="en">
<head>
	<title>Vega's Restaurant - Actualizar Reservación</title>
	<link rel="stylesheet" href="../../../assets/css/styles.css">
    <link rel="stylesheet" href="../../assets/css/admin.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" integrity="sha512-BnbUDfEUfV0Slx6TunuB042k9tuKe3xrD6q4mg5Ed72LTgzDIcLPxg6yI2gcMFRyomt+yJJxE+zJwNmxki6/RA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
	<nav>
		<ul class="menu">
			<li>
				<a href="../sucursales/nuevo.html">
					Sucursales
				</a>
			</li>
			<li>
				<a href="nuevo.html">
					Reservaciones
				</a>
			</li>
			<li>
				<a href="../platillos/nuevo.html">
					Platillos
				</a>
			</li>
			<li>
				<a href="../tipoPlatillo/nuevo.html">
					Tipo de Platillos
				</a>
			</li>
            <li>
				<a href="../../../index.html">
					<i class="fas fa-globe"></i>
					Sitio Web
				</a>
			</li>
		</ul>
	</nav>

    <div class="container separator-margin">
        
        <div class="separator-margin flex items-center flex-between">
			<h1>
                Actualizar Reservación
			</h1>
            <a class="btn btn-warning" href="nuevo.html">Regresar</a>
		</div>
		<hr>

        <div class="mt-20">
            <form action="" method="post" class="w-half">
                <label for="fecha">Fecha</label>
                <input type="date" id="fecha" name="fecha" class="form-control w-half mt-10 mb-20" required>
                
                <label for="sucursal" class="mt-20">Sucursal</label>
                <select id="sucursal" class="form-control mt-10 mb-20" required>
					<option value="">Seleccione una sucursal</option>
					<option value="" selected>Sucursal 1</option>
					<option value="">Sucursal 2</option>
					<option value="">Sucursal 3</option>
				</select>

				<label for="cliente" class="mt-20">Cliente</label>
                <select id="cliente" class="form-control mt-10 mb-20" required>
					<option value="">Seleccione un cliente</option>
					<option value="" selected>Cliente 1</option>
					<option value="">Cliente 2</option>
					<option value="">Cliente 3</option>
				</select>

				<label for="mesa" class="mt-20">Mesas</label>
                <select id="mesa" class="form-control mt-10 mb-20" required>
					<option value="">Seleccione una mesa</option>
					<option value="" selected>Mesa 1</option>
					<option value="">Mesa 2</option>
					<option value="">Mesa 3</option>
				</select>

                <p class="error"></p>

                <div class="flex mt-20">
                    <input type="reset" value="Cancelar" class="btn btn-danger">
					<input type="submit" value="Actualizar" class="btn btn-warning margin-left-10">
                </div>
            </form>
        </div>
    </div>
</body>
</html>